<h1>JOBHUNTING SYSTEM</h1>
<p>
  <a href="/login_for_college">ログイン</a>
  for the College
</p>

<p>
  <a href="login_for_student">ログイン</a>
  for the Student
</p>

<p>
  <a href="login_for_company">ログイン</a>
  for the Company
</p>
