<h1>@student.name</h1>
<p>@student.student_number</p>
<p>@student.major</p>
<p>@student.department</p>
<p>@student.research</p>
<a href="student_edit">編集する</a>

<%= render 'applyed_job', job: @job %>
<%= render 'selected_job', offer: @offer %>
