<h1>@campany.name</h1>
<p>@campany.person_in_charge</p>
<p>@campany.phone_number</p>
<p>@campany.email</p>

<a href="campany_edit">編集する</a>

<%= render 'job', job: @job %>
<%= render 'applyed_job', job: @job %>
<%= render 'offer', offer: @offer %>
